<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>

  <div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">Please Login</h2>
        <label for="Fname" class="sr-only">Firstname</label>
        <input type="Fname" id="Fname" class="form-control" placeholder="First Name" required autofocus>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
      </form>

    </div> <!-- /container -->
</div>

